# Importing Necessary Libraries

In [37]:
import numpy as np
import pandas as pd
from mysql.connector import connect
from textblob import TextBlob

# SQL Connection

In [38]:
connection_Mysql = connect(
host = '127.0.0.1',
port = '3306',
username = 'root',
password = '12345',
database = 'customerbehaviour'
)

print(connection_Mysql.is_connected())

True

In [39]:
connection = connection_Mysql.cursor()
connection.execute("CREATE DATABASE IF NOT EXISTS CustomerBehaviour")

# Reading CSV File

In [40]:
products = pd.read_csv("products.csv")
customers = pd.read_csv("customers.csv")
geography = pd.read_csv("geography.csv")
engagement_data = pd.read_csv("engagement_data.csv")
customer_reviews = pd.read_csv("customer_reviews.csv")
customer_journey = pd.read_csv("customer_journey.csv")

# Check for null values

In [41]:
print(products.isnull().sum())

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

In [42]:
print(customers.isnull().sum())

CustomerID      0
CustomerName    0
Email           0
Gender          0
Age             0
GeographyID     0
dtype: int64

In [43]:
print(geography.isnull().sum())

GeographyID    0
Country        0
City           0
dtype: int64

In [44]:
print(engagement_data.isnull().sum())

EngagementID           0
ContentID              0
ContentType            0
Likes                  0
EngagementDate         0
CampaignID             0
ProductID              0
ViewsClicksCombined    0
dtype: int64

In [45]:
print(customer_reviews.isnull().sum())

ReviewID      0
CustomerID    0
ProductID     0
ReviewDate    0
Rating        0
ReviewText    0
dtype: int64

In [46]:
print(customer_journey.isnull().sum())

JourneyID      0
CustomerID     0
ProductID      0
VisitDate      0
Stage          0
Action         0
Duration      14
dtype: int64

# Fill Null Values With Zero

In [47]:
customer_journey = customer_journey.fillna(0)
print(customer_journey.isnull().sum())

JourneyID     0
CustomerID    0
ProductID     0
VisitDate     0
Stage         0
Action        0
Duration      0
dtype: int64

# Converting CSV to DataFrame

In [48]:
products = pd.DataFrame(products)
customers = pd.DataFrame(customers)
geography = pd.DataFrame(geography)
engagement_data = pd.DataFrame(engagement_data)
customer_reviews = pd.DataFrame(customer_reviews)
customer_journey = pd.DataFrame(customer_journey)

# Creating the Table

In [49]:
connection.execute("""
    CREATE TABLE IF NOT EXISTS customer_journey (
        JourneyID INT,
        CustomerID INT,
        ProductID INT,
        VisitDate DATE,
        Stage VARCHAR(50),
        Action VARCHAR(50),
        Duration INT
    );
""")
connection_Mysql.commit()

# Loading The Data to Table

In [50]:
customer_journey_list = customer_journey.values.tolist()
query = """
    INSERT INTO customer_journey (JourneyID, CustomerID, ProductID, VisitDate, Stage, Action, Duration)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
connection.executemany(query, customer_journey_list)
connection_Mysql.commit()

# Solution : SQL Query and Python

In [51]:
query1 = """
    select customers.CustomerName, products.ProductName, customer_journey.JourneyID, customer_journey.CustomerID, customer_journey.ProductID, customer_journey.action  
            from 
                customer_journey 
            inner join 
                customers on customers.CustomerID = customer_journey.CustomerID 
            inner join 
                products on products.ProductID = customer_journey.ProductID 
            where 
                action = 'Drop-off';
"""
connection.execute(query1)
result1 = connection.fetchall()
pd.DataFrame(result1)

                   0                1   2   3   4         5
0      Emma Anderson       Basketball  55   1   7  Drop-off
1      Emma Anderson       Basketball  55   1   7  Drop-off
2       Emily Thomas        Ski Boots  54   9  11  Drop-off
3       Emily Thomas        Ski Boots  54   9  11  Drop-off
4      Emma Martinez   Baseball Glove  52  15   9  Drop-off
5      Emma Martinez   Baseball Glove  52  15   9  Drop-off
6    Isabella Garcia       Ice Skates  11  23  12  Drop-off
7    Isabella Garcia       Ice Skates  11  23  12  Drop-off
8        Alex Garcia    Boxing Gloves  47  30  20  Drop-off
9        Alex Garcia    Boxing Gloves  47  30  20  Drop-off
10      David Thomas       Volleyball   4  33  18  Drop-off
11      David Thomas       Volleyball   4  33  18  Drop-off
12       John Garcia        Surfboard  37  38  17  Drop-off
13       John Garcia        Surfboard  37  38  17  Drop-off
14     Olivia Thomas    Boxing Gloves  71  40  20  Drop-off
15     Olivia Thomas    Boxing Gloves  71  40  20  Drop-off
16  Olivia Hernandez  Football Helmet  93  43   8  Drop-off
17  Olivia Hernandez  Football Helmet  93  43   8  Drop-off
18     Jane Williams    Boxing Gloves  21  58  20  Drop-off
19     Jane Williams    Boxing Gloves  21  58  20  Drop-off
20    Sarah Martinez       Volleyball   1  64  18  Drop-off
21    Sarah Martinez       Volleyball   1  64  18  Drop-off
22      Alex Johnson        Ski Boots  32  67  11  Drop-off
23      Alex Johnson        Ski Boots  32  67  11  Drop-off
24       David Lopez    Tennis Racket  24  77   6  Drop-off
25       David Lopez    Tennis Racket  24  77   6  Drop-off
26     Jane Anderson        Ski Boots   2  94  11  Drop-off
27     Jane Anderson        Ski Boots   2  94  11  Drop-off

In [52]:
query2 = """
    with result as (
            select 
                customer_journey.ProductID, customer_journey.Stage, Avg(customer_journey.Duration) as Avarage_Duration
            From 
                customer_journey
            group by 
                customer_journey.stage,customer_journey.ProductID)

            select 
                result.ProductID, products.ProductName ,result.Stage, result.Avarage_Duration
            from 
                result
            join 
                products on products.ProductID = result.ProductID;
"""
connection.execute(query2)
result2 = connection.fetchall()
pd.DataFrame(result2)

     0                1            2         3
0    1    Running Shoes  ProductPage  209.3333
1    1    Running Shoes     Homepage  110.2500
2    2  Fitness Tracker     Homepage  241.2500
3    2  Fitness Tracker  ProductPage  242.0000
4    2  Fitness Tracker     Checkout  137.0000
5    3         Yoga Mat     Homepage  136.0000
6    4        Dumbbells     Homepage  186.5000
7    4        Dumbbells  ProductPage  278.0000
8    5      Soccer Ball     Homepage  124.5000
9    5      Soccer Ball  ProductPage  124.0000
10   6    Tennis Racket     Checkout    0.0000
11   6    Tennis Racket  productpage  154.0000
12   6    Tennis Racket     Homepage  161.0000
13   7       Basketball     Checkout    0.0000
14   8  Football Helmet  ProductPage  196.6667
15   8  Football Helmet     Homepage  155.2000
16   8  Football Helmet     Checkout    0.0000
17   9   Baseball Glove     Homepage  120.6667
18   9   Baseball Glove     Checkout    0.0000
19   9   Baseball Glove  ProductPage  212.0000
20  10       Golf Clubs     Homepage  183.4000
21  10       Golf Clubs  ProductPage  262.0000
22  11        Ski Boots     Checkout    0.0000
23  11        Ski Boots     Homepage  249.0000
24  12       Ice Skates     Checkout    0.0000
25  12       Ice Skates  ProductPage  233.0000
26  12       Ice Skates     Homepage  110.0000
27  13     Swim Goggles  ProductPage   13.0000
28  13     Swim Goggles     Homepage  266.0000
29  14   Cycling Helmet     Homepage  117.0000
30  15    Climbing Rope     Homepage  149.2500
31  15    Climbing Rope     Checkout  147.0000
32  16            Kayak  ProductPage  140.0000
33  16            Kayak     Homepage   31.5000
34  16            Kayak     Checkout   87.0000
35  17        Surfboard     Homepage  251.0000
36  17        Surfboard     Checkout  127.6667
37  18       Volleyball     Checkout    0.0000
38  18       Volleyball  productpage  204.6667
39  18       Volleyball     Homepage  143.0000
40  19     Hockey Stick     Homepage  176.2500
41  19     Hockey Stick  ProductPage  158.0000
42  20    Boxing Gloves     Checkout    0.0000
43  20    Boxing Gloves     Homepage   93.0000
44  20    Boxing Gloves  ProductPage  105.0000

In [53]:
query3 = """
    select products.productname as ProductName,
	        products.productID as Products_ID,
	        min(customer_reviews.rating) as Lowest_Rating,
	        Max(customer_reviews.rating) as Highest_Rating 
	        from 
                products 
            join 
                customer_reviews on products.ProductID = customer_reviews.productID
	        group by 
                products.productname , products.ProductID
	        order by 
                customer_reviews.productID asc;
"""
connection.execute(query3)
result3 = connection.fetchall()
pd.DataFrame(result3)

                  0   1  2  3
0     Running Shoes   1  3  5
1   Fitness Tracker   2  2  5
2          Yoga Mat   3  1  5
3         Dumbbells   4  1  5
4       Soccer Ball   5  4  4
5     Tennis Racket   6  1  5
6        Basketball   7  2  3
7   Football Helmet   8  5  5
8    Baseball Glove   9  3  4
9        Golf Clubs  10  2  5
10        Ski Boots  11  3  5
11       Ice Skates  12  3  3
12     Swim Goggles  13  3  4
13    Climbing Rope  15  2  5
14            Kayak  16  2  4
15        Surfboard  17  2  5
16       Volleyball  18  3  5
17     Hockey Stick  19  4  5
18    Boxing Gloves  20  4  4

In [54]:
query4 = """
    select products.productname as ProductName,
	        products.productID as Products_ID,
	        min(customer_reviews.rating) as Lowest_Rating,
	        Max(customer_reviews.rating) as Highest_Rating 
	        from 
                products 
            join 
                customer_reviews on products.ProductID = customer_reviews.productID
	        group by 
                products.productname , products.ProductID
	        order by 
                customer_reviews.productID asc;
"""
connection.execute(query4)
result4 = connection.fetchall()
pd.DataFrame(result4)

                  0   1  2  3
0     Running Shoes   1  3  5
1   Fitness Tracker   2  2  5
2          Yoga Mat   3  1  5
3         Dumbbells   4  1  5
4       Soccer Ball   5  4  4
5     Tennis Racket   6  1  5
6        Basketball   7  2  3
7   Football Helmet   8  5  5
8    Baseball Glove   9  3  4
9        Golf Clubs  10  2  5
10        Ski Boots  11  3  5
11       Ice Skates  12  3  3
12     Swim Goggles  13  3  4
13    Climbing Rope  15  2  5
14            Kayak  16  2  4
15        Surfboard  17  2  5
16       Volleyball  18  3  5
17     Hockey Stick  19  4  5
18    Boxing Gloves  20  4  4

In [55]:
def get_sentiment(text):
    sentiment_score = TextBlob(text).sentiment.polarity  # Get sentiment polarity (-1 to 1)
    if sentiment_score > 0:
        return "Positive"
    elif sentiment_score < 0:
        return "Negative"
    else:
        return "Neutral"
        
customer_reviews_df = customer_reviews
customer_reviews_df['sentiment'] = customer_reviews_df['ReviewText'].apply(get_sentiment)
customer_reviews_df

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText,sentiment
0,1,77,18,2023-12-23,3,"Average experience, nothing special.",Positive
1,2,80,19,2024-12-25,5,The quality is top-notch.,Positive
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.,Positive
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper.",Positive
4,5,64,2,2023-07-16,3,"Average experience, nothing special.",Positive
...,...,...,...,...,...,...,...
95,96,19,13,2023-09-02,3,"Good quality, but could be cheaper.",Positive
96,97,64,6,2024-01-19,3,"The product is okay, but the instruction...",Positive
97,98,96,3,2025-11-20,5,Exceeded my expectations!,Neutral
98,99,79,16,2025-01-29,2,"Average experience, nothing special.",Positive
99,100,9,2,2025-06-20,3,Not worth the money.,Negative

In [56]:
def get_Review(text):
    review_score = TextBlob(text).sentiment.polarity  # Get sentiment polarity (-1 to 1)
    if review_score > 0:
        return 1
    elif review_score < 0:
        return -1
    else:
        return 0
merge_df = (customer_reviews.merge(products, on="ProductID", how="left"))
merge_df['sentiment'] = merge_df['ReviewText'].apply(get_Review)
Result = merge_df.groupby(["ProductID","ProductName"])["sentiment"].sum().reset_index(name="ProductReview")
Result

    ProductID      ProductName  ProductReview
0           1    Running Shoes              4
1           2  Fitness Tracker              4
2           3         Yoga Mat              4
3           4        Dumbbells              2
4           5      Soccer Ball              3
5           6    Tennis Racket              5
6           7       Basketball              3
7           8  Football Helmet              3
8           9   Baseball Glove              5
9          10       Golf Clubs              2
10         11        Ski Boots              6
11         12       Ice Skates              2
12         13     Swim Goggles              7
13         15    Climbing Rope              3
14         16            Kayak              4
15         17        Surfboard              7
16         18       Volleyball              3
17         19     Hockey Stick              4
18         20    Boxing Gloves              2

In [57]:
query5 = """
    with purchase_counts as (
            select 
	            customerid,
	            count(customerid) as total_purchases
            from 
	            customer_reviews
            group by
                customerid
            order by
	            customerid asc)

            SELECT 
	            CASE 
		            WHEN total_purchases >= 2 THEN 'Repeat Buyer' 
                    when total_purchases = 1 then 'First Time Buyer'
                    when total_purchases < 1 then "Zero Time Buyer"
                    END AS buyer_type,
                count(total_purchases) as Count_of_Buyer_Type,
	            ((COUNT(customerid) * 100.0) /(SELECT COUNT(DISTINCT customerid) FROM customer_reviews)) as percentage
            FROM 
	            purchase_counts
            GROUP BY 
	            buyer_type;
"""
connection.execute(query5)
result5 = connection.fetchall()
pd.DataFrame(result5)

                  0   1         2
0      Repeat Buyer  26  41.93548
1  First Time Buyer  36  58.06452

In [58]:
query6 = """
    with MaxPerformance as (
            select 
                geography.Geographyid as Geographyid,
                geography.Country as Country,
                customer_reviews.productid as Productid,
                count(customer_reviews.productid) as OrderCount 
            from
                customer_reviews
            join customers on customers.customerid = customer_reviews.customerid
            join geography on customers.geographyID = geography.geographyID
            group by
                customers.Geographyid,customer_reviews.productid, geography.Country
            order by
                geographyid asc),
            SalesRank as (
            select 
                MaxPerformance.Geographyid,  
                MaxPerformance.Country,
                MaxPerformance.productid,
                MaxPerformance.OrderCount,
                RANK() OVER (PARTITION BY MaxPerformance.Geographyid order by MaxPerformance.OrderCount desc) AS sales_rank
            from 
                MaxPerformance
            group by 
                MaxPerformance.Geographyid, MaxPerformance.productid,MaxPerformance.Country
            order by 
                MaxPerformance.Geographyid)
            select 
                Geographyid,  
                Country,
                productid,
                OrderCount
            from 
                SalesRank
            where 
                sales_rank = 1;
"""
connection.execute(query6)
result6 = connection.fetchall()
pd.DataFrame(result6)

     0            1   2  3
0    1           UK   5  2
1    2      Germany  17  2
2    3       France  13  2
3    4        Spain  18  3
4    4        Spain   2  3
5    5        Italy   1  2
6    5        Italy  11  2
7    6  Netherlands  13  4
8    7      Belgium   2  2
9    8       Sweden  15  2
10   9  Switzerland   6  1
11   9  Switzerland  15  1
12   9  Switzerland   3  1
13   9  Switzerland   1  1
14   9  Switzerland  10  1
15   9  Switzerland  17  1
16  10      Austria  16  3

# Stream Lit App For Customer Behaviour Analysis

In [59]:
%%writefile app.py
import streamlit as st
import pandas as pd
from textblob import TextBlob
import plotly.express as px
import sqlalchemy
from tabulate import tabulate


Connection_string = "mysql+mysqlconnector://root:12345@localhost:3306/CustomerBehaviour"
connection = sqlalchemy.create_engine(Connection_string,echo = 1)

products = pd.read_csv("products.csv")
customers = pd.read_csv("customers.csv")
geography = pd.read_csv("geography.csv")
engagement_data = pd.read_csv("engagement_data.csv")
customer_reviews = pd.read_csv("customer_reviews.csv")
customer_journey = pd.read_csv("customer_journey.csv")


def get_data(query,conn):
    df = pd.read_sql(query,conn)
    return df

def get_Review(text):
    review_score = TextBlob(text).sentiment.polarity  # Get sentiment polarity (-1 to 1)
    if review_score > 0:
        return 1
    elif review_score < 0:
        return -1
    else:
        return 0

def get_sentiment(text):
    sentiment_score = TextBlob(text).sentiment.polarity  # Get sentiment polarity (-1 to 1)
    if sentiment_score > 0:
        return "Positive"
    elif sentiment_score < 0:
        return "Negative"
    else:
        return "Neutral"

   

st.set_page_config(page_title="Customer Behaviour Analysis", layout="wide")


st.sidebar.title("Navigation")
page = st.sidebar.radio("Go to", ["Project Introduction", "Customer Journey & Engagement Analysis", "Customer Reviews Analysis", "Marketing Effectiveness", "Business Recommendations", "Creator Info"])

if page == "Project Introduction":
    st.title("Project Introduction")
    st.subheader(" A Streamlit App for Exploring Customer Behaviour Analysis")
    st.write("""
    This project analyzes weather data from different cities using an SQLite database.
    It provides visualizations for Customer Behaviour Analysis.
    
    **Features:**
    - Generate dynamic visualizations.
    - Run predefined SQL queries to explore insights.
    - 1.	Customer journey behavior.
    - 2.	Customer reviews & feedback.
    - 3.	Marketing effectiveness.
    - 4.	Product & demographic analysis.
    
    **Database Used:** https://drive.google.com/drive/folders/1gLyD0aYGRiabsGyN3OYCc3R8ONNLL1PU?usp=sharing
    """)
    
elif page == "Customer Journey & Engagement Analysis":
    st.title("Customer Journey & Engagement Analysis")
    st.subheader("Table : Drop-Off Point in the customer journey")
    query = """select customers.CustomerName, products.ProductName, customer_journey.JourneyID, customer_journey.CustomerID, customer_journey.ProductID, customer_journey.action  
            from 
                customer_journey 
            inner join 
                customers on customers.CustomerID = customer_journey.CustomerID 
            inner join 
                products on products.ProductID = customer_journey.ProductID 
            where 
                action = 'Drop-off';"""
    df = get_data(query,connection)
    st.write(df)

    st.subheader("Table : Average Duration per stage")
    query = """with result as (
            select 
                customer_journey.ProductID, customer_journey.Stage, Avg(customer_journey.Duration) as Avarage_Duration
            From 
                customer_journey
            group by 
                customer_journey.stage,customer_journey.ProductID)

            select 
                result.ProductID, products.ProductName ,result.Stage, result.Avarage_Duration
            from 
                result
            join 
                products on products.ProductID = result.ProductID;"""
    df = get_data(query,connection)
    st.write(df)

elif page == "Customer Reviews Analysis":
    st.title("Customer Reviews Analysis")
    st.subheader("Table : Highest and Lowest Rating of the Products")
    query = """select products.productname as ProductName,
	        products.productID as Products_ID,
	        min(customer_reviews.rating) as Lowest_Rating,
	        Max(customer_reviews.rating) as Highest_Rating 
	        from 
                products 
            join 
                customer_reviews on products.ProductID = customer_reviews.productID
	        group by 
                products.productname , products.ProductID
	        order by 
                customer_reviews.productID asc;"""
    df = get_data(query,connection)
    st.write(df)

    
    st.subheader("Basic Sentiment Analysis")   
    customer_reviews_df = customer_reviews
    customer_reviews_df['sentiment'] = customer_reviews_df['ReviewText'].apply(get_sentiment)
    st.write(customer_reviews_df)

    st.subheader("Trend : Product Review Proformance")
    merge_df = (customer_reviews.merge(products, on="ProductID", how="left"))
    merge_df['sentiment'] = merge_df['ReviewText'].apply(get_Review)
    Result = merge_df.groupby(["ProductID","ProductName"])["sentiment"].sum().reset_index(name="ProductReview")
    st.plotly_chart(px.bar(Result,x="ProductName", y="ProductReview",title="Best Reviewed Performing Products"))
    
elif page == "Marketing Effectiveness":
    st.title("Marketing Effectiveness")
    st.subheader("Table : Repeated Vs First Time Buyer")
    query = """with purchase_counts as (
            select 
	            customerid,
	            count(customerid) as total_purchases
            from 
	            customer_reviews
            group by
                customerid
            order by
	            customerid asc)

            SELECT 
	            CASE 
		            WHEN total_purchases >= 2 THEN 'Repeat Buyer' 
                    when total_purchases = 1 then 'First Time Buyer'
                    when total_purchases < 1 then "Zero Time Buyer"
                    END AS buyer_type,
                count(total_purchases) as Count_of_Buyer_Type,
	            ((COUNT(customerid) * 100.0) /(SELECT COUNT(DISTINCT customerid) FROM customer_reviews)) as percentage
            FROM 
	            purchase_counts
            GROUP BY 
	            buyer_type;"""
    df = get_data(query,connection)
    st.write(df)
    
    st.subheader("Table : Best - Performing Products Per Region")
    query = """with MaxPerformance as (
            select 
                geography.Geographyid as Geographyid,
                geography.Country as Country,
                customer_reviews.productid as Productid,
                count(customer_reviews.productid) as OrderCount 
            from
                customer_reviews
            join customers on customers.customerid = customer_reviews.customerid
            join geography on customers.geographyID = geography.geographyID
            group by
                customers.Geographyid,customer_reviews.productid, geography.Country
            order by
                geographyid asc),
            SalesRank as (
            select 
                MaxPerformance.Geographyid,  
                MaxPerformance.Country,
                MaxPerformance.productid,
                MaxPerformance.OrderCount,
                RANK() OVER (PARTITION BY MaxPerformance.Geographyid order by MaxPerformance.OrderCount desc) AS sales_rank
            from 
                MaxPerformance
            group by 
                MaxPerformance.Geographyid, MaxPerformance.productid,MaxPerformance.Country
            order by 
                MaxPerformance.Geographyid)
            select 
                Geographyid,  
                Country,
                productid,
                OrderCount
            from 
                SalesRank
            where 
                sales_rank = 1;"""
    df = get_data(query,connection)
    st.write(df)


elif page == "Business Recommendations":
    st.title("Business Recommendations")
    st.subheader("Table : Best - Performing Products Per Country")
    query = """with MaxPerformance as (
            select 
                geography.Geographyid as Geographyid,
                geography.Country as Country,
                customer_reviews.productid as Productid,
                count(customer_reviews.productid) as OrderCount 
            from
                customer_reviews
            join customers on customers.customerid = customer_reviews.customerid
            join geography on customers.geographyID = geography.geographyID
            group by
                customers.Geographyid,customer_reviews.productid, geography.Country
            order by
                geographyid asc),
            SalesRank as (
            select 
                MaxPerformance.Geographyid,  
                MaxPerformance.Country,
                MaxPerformance.productid,
                MaxPerformance.OrderCount,
                RANK() OVER (PARTITION BY MaxPerformance.Geographyid order by MaxPerformance.OrderCount desc) AS sales_rank
            from 
                MaxPerformance
            group by 
                MaxPerformance.Geographyid, MaxPerformance.productid,MaxPerformance.Country
            order by 
                MaxPerformance.Geographyid)
            select   
                Country,
                products.productname as ProductName
            from 
                SalesRank
			join products on products.productID = SalesRank.productid
            where 
                sales_rank = 1;"""
    df = get_data(query,connection)
    st.write(df)

    st.subheader("Table : Highest Rating of Product")
    query = """select products.productname as ProductName,
	        products.productID as Products_ID,
	        Max(customer_reviews.rating) as Highest_Rating 
	        from 
                products 
            join 
                customer_reviews on products.ProductID = customer_reviews.productID
	        group by 
                products.productname , products.ProductID
	        order by 
                customer_reviews.productID asc;"""
    df = get_data(query,connection)
    st.write(df)

    st.subheader("Table : Enagagement Data")
    query = """select 
            engagement_data.ProductID,
            products.ProductName,
            engagement_data.ContentType,
            sum(engagement_data.Likes)
        From 
            engagement_data
        join products on products.ProductID =  engagement_data.ProductID
        group by 
            engagement_data.ContentType,engagement_data.ProductID,products.ProductName
        order by engagement_data.ProductID asc;"""
    df = get_data(query,connection)
    st.write(df)



elif page == "Creator Info":
    st.title(" Creator of this Project")
    st.write("""
    **Developed by:** Shogin M  
    **LinkedIn Profile:** https://www.linkedin.com/in/shogin-m-083392169/
    
    **Skills:** Python, SQL, Data Analysis,Streamlit, Pandas    
    """)

Overwriting app.py

In [60]:
!streamlit run app.py

^C